extends layout

block content
  h1= title

  .container-fluid
    .row
      if results && results.length
        each mtn in results
          .col-sm-2
            p Name: #{mtn.name}
            p Height: #{mtn.height}
            p Range: #{mtn.range}
      else
        .col-sm-12
          p No mountains found.