body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.mountainAttr {
  background-color: aquamarine;
  width: 140px;
  padding: 4px;
  border-radius: 4px;
  font-weight: 500;
}